name:  Build image


on: 
  push:
      branches: [main]
  pull_request:
    branches: [main]
    
jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      run: |
         echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t "${{ secrets.DOCKER_USERNAME }}"/python:v1 .

    - name: Push Docker image to hub
      run: |
        docker push "${{ secrets.DOCKER_USERNAME }}"/python:v1




        
  
      
